 .form-inline{
      margin-right: 15px;
    }
    .red{
    background-color: red;
 }
   .blue{
      background-color: blue;
   }
   .green{
      background-color: green;
   
   }
   .colorContainer{
     height:200px;
     width:300px;
   }
   .commonColorStyle{
    height: 60px;
    width: 60px;
    display: inline-block;
   }

    canvas {
      background: #20262e;
      width: 850px;
      height: 700px;
      overflow: auto;
      margin: 10px;
    }
     .canvas {
      background: #20262e;
    }
    .text{
      color : #20262e;
      font-family: 'Times New Roman', Times, serif;
       font-size: 14pt;
    }
    
     .remove-all-styles {
    all: unset;
  }
